* {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    margin: 0;
}

body {
    background-color: #222222;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url("../resources/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    transition: background-image 2s ease-in-out;
}

h1 {
    font-size: 28pt;
}

p {
    font-size: 14pt;
    margin: 20px 0;
}

#main {
    color: black;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40%;
    height: 60%;
    transform: translate(-50%, -50%);
    padding: 20px 40px 40px 40px;
    box-shadow: 5px 5px 5px black;
    animation: appear 2s;
    min-width: fit-content;
    max-height: 530px;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
}

@keyframes appear {
    0% {
        padding: 0px 40px;
        height: 0;
        min-width: 0;
        width: 0;
        overflow-y: visible;
    }
    10% {
        padding: 5px 40px;
        height: 0;
        min-width: 0;
        width: 0;
        overflow-y: hidden;
    }
    40% {
        padding: 5px 40px;
        height: 0;
        width: 40%;
        overflow-y: hidden;
    }
    99% {
        width: 40%;
        height: 60%;
        padding: 20px 40px 40px 40px;
        overflow-y: hidden;
    }
    100% {
        overflow-y: visible;
    }
}

.avatar img {
    padding: 40px;
    width: 100%;
    height: 100%;
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px;
    border-radius: 100%;
}

hr {
    display: inline-block;
    margin: 30px 0 40px 0;
    width: 30%;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 10px;
}

ul.icons li a {
    text-decoration: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40pt;
    color: gray;
}

ul.icons li a.fa-at:hover {
    color: #ff9d00;
}

ul.icons li a.fa-github:hover {
    color: #000000;
}

ul.icons li a.fa-linkedin:hover {
    color: #2867B2;
}

ul.icons li a.fa-file-alt:hover {
    color: #55acee;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    cursor: default;
}